<!DOCTYPE html>

<html lang="ru" dir="ltr">
<head>
<title>Добавить партнера</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" login"
  data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a style="padding: 10px 15px; margin-right: 70px; font-size: 13px; border: None; border-radius: 4px; color: #fff; background: #79aec8; cursor: pointer;" href="javascript:history.go(-1)"">Назад</a><a href="/admin/">Добавить партнера</a></h1>
        </div>
    </div>
    <!-- END Header -->
    <div class="main" id="main">
      <div class="content">
        <!-- Content -->
        <div id="content" class="colM">
<div id="content-main">
<form method="post" id="login-form">
    {% csrf_token %}
{#  <div class="form-row">#}
{#    <label for="id_username" class="required">Имя пользователя:</label> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">#}
{#  </div>#}
{#  <div class="form-row">#}
{#    <label for="id_password" class="required">Пароль:</label> <input type="password" name="password" autocomplete="current-password" required id="id_password">#}
{#    <input type="hidden" name="next" value="/admin/">#}
{#  </div>#}
    <div class="form-row">
        <label class="required">{{ form.partner_id.label }}</label>
        {{ form.partner_id }}
    </div>
    <div class="form-row">
        <label class="required">{{ form.token.label }}</label>
        {{ form.token }}
    </div>
    <div class="form-row">
        <label class="required">{{ form.operator_id.label }}</label>
        {{ form.operator_id }}
    </div>
    <div class="form-row">
        <label class="required">{{ form.operator_name.label }}</label>
        {{ form.operator_name }}
    </div>
    <div class="form-row">
        <label class="required">{{ form.username.label }}</label>
        {{ form.username }}
    </div>
    <div class="form-row">
        <label class="required">{{ form.password1.label }}</label>
        {{ form.password1 }}
    </div>
        <div class="form-row">
        <label class="required">{{ form.password2.label }}</label>
        {{ form.password2 }}
    </div>
  <div class="submit-row">
    <input type="submit" value="Добавить" style="margin-right: 20px;">
  </div>
</form>
</div>
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>